html
  head
    style.
      body {
        background: black;
        color:      white;
        opacity:    0.5;
      }

      #todo {
        padding: 10px 0;
        width:   50%;
        float:   right;
      }

      ol {
        padding-left: 25px;
      }

  body
    #todo
      h2 To do
      ol
        for item in todo
          li #{item}
